{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.question_delete'|trans }}
{% endblock %}

{% block body %}
    <h1>
        {{ 'title.question_delete'|trans }}
    </h1>

    <p>
        {{ 'message.delete_confirm'|trans }}
    </p>

    {{ form_start(form) }}

    <div class="form-group">
        {{ form_widget(form.delete) }}
    </div>

    {{ form_end(form) }}

    <a href="{{ path('question_list') }}" class="btn btn-link">
        {{ 'action.back_to_list'|trans }}
    </a>
{% endblock %}
