{% extends 'base.html.twig' %}

{% block title %}
    Question {{ id }}
{% endblock %}

{% block body %}
    <h1>View question {{ id }}</h1>
    {% if question is defined and question|length %}
        <div>
            <h2>{{ question.title }}</h2>
            <p>{{ question.category.name }}</p>
            <p>{{ question.content }}</p>
            <a href="{{ url('question_list') }}">Back</a>
        </div>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}

