{% extends 'base.html.twig' %}

{% block title %}
    View question
{% endblock %}

{% block body %}
    <h1>{{ question.title }}</h1>
    {% if question is defined and question|length %}
        <div>
            <p>{{ question.category.name }}</p>
            <p>{{ question.content }}</p>
            <a href="{{ url('question_list') }}">Back</a>
        </div>

        <div>
        <h3>Odpowiedzi</h3>

        {% if question.answers is empty %}
            <p>Brak odpowiedzi</p>
        {% else %}
            {% for answer in question.answers %}
                <div>
                    <p>{{ answer.guestEmail }}</p>
                    <p>{{ answer.createdAt|date('Y-m-d H:i') }}</p>
                    {%  if answer.updatedAt !== null %}
                        <p>Ostatnia edycja: {{ answer.updatedAt|date('Y-m-d H:i') }}</p>
                    {% endif %}
                    <p>{{ answer.content }}</p>
                    <a href="{{ path('answer_edit', {id: answer.id}) }}">
                        Edytuj
                    </a>
                    <a href="{{ path('answer_delete', {id: answer.id}) }}">
                        Usuń
                    </a>
                </div>
            {% endfor %}
        {% endif %}
        </div>

        <!--FORMULARZ DODAWANIA ODPOWIEDZI-->
        <div>
            {{ form_start(answerForm, {
                action: path('answer_create', {id: question.id}),
                method: 'POST'
            }) }}

            {{ form_widget(answerForm) }}

            <button type="submit">
                Dodaj odpowiedz
            </button>

            {{ form_end(answerForm) }}
        </div>



    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}

